# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables and secrets
.env
*.env

# PostgreSQL / local files
*.db

# Operating system
.DS_Store
Thumbs.db

# VS Code
.vscode/
